<div class="t1-container">
  <div class="centralize-container">
      <div class="container-top">
          <div class="t1-title">
              <span class="title-product">TASKS</span>
          </div>
      </div>

      <div class="product-table-list">
          <table class="product-table">
              <thead>
                  <tr>
                      <th class="default">ID</th>
                      <th class="default">NAME</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let task of tasks">
                      <td class="default">{{task.id}}</td>
                      <td class="default">{{task.name}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>